.headline{
    display: flex;
    margin: 20px;
    padding: 10px;
}

.headline img{
    width: 100%;
    margin-left: 20px;
    border-radius: 20%;
}
.headline h1{
    color: rgb(55, 184, 23);
}
.btn{
    padding: 8px;
    background-color: rgb(55, 184, 23);
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: 600;
}
.btn:hover{
    background-color: rgb(36, 145, 9);
    font-weight: 600;
}